{% extends 'business/base.html.twig' %}

{% block title %}Mes offres{% endblock %}

{% block body %}

    <div class="container">
        <ul>
            {% for offer in app.user.offers %}
                <li>
                    <a href="{{ path('app_offer_detail', { 'id': offer.id }) }}">{{ offer.label }}</a>
                    <br />
                    {{ offer.description|u.truncate(128, ' ..') }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}