{% extends 'base.html.twig' %}

{% block title %}Hello OffresController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }} :</h1>
</div>
<div class="container d-flex flex-row flex-wrap justify-content-center">
{% for uneOffre in lesOffres %}

  <div class="card m-x-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{uneOffre.label}}</h5>
      <p class="card-text">{{uneOffre.description}}</p>
      <a href={{path('app_offres_show_one',{'id':uneOffre.id})}} class="btn btn-primary">Voir l'offre</a>
    </div>
  </div>

{% endfor  %}
</div>
{% endblock %}
