/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.customcard {
	background-color: #F9F9F9;
	border-bottom: 3px solid #EEE;
	margin: 10px;
	padding: 10px;
}
