{% extends 'person/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <style>
        .customcard {
            background-color: #F9F9F9;
            border-bottom: 3px solid #EEE;
            margin: 10px;
            padding: 10px;
        }
    </style>

    <div class="container mt-5">
        <div class="row d-flex">

            <div class="col-12 col-lg-4 me-auto customcard">

                <div class="d-inline-flex">
                    <img class="rounded-circle" style="height: 100px" src="{{ asset('assets/images/pp/user.png') }}" alt="Photo de profil de {{ app.user.fullName }}">
                    <div class="ps-4">
                        <p class="mb-0">Bienvenue <span class="highlight">{{ app.user.fullName }}</span></p>
                        <a class="link-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
