{% extends 'dashboard/business/base.html.twig' %}

{% block title %}Déposer une offre{% endblock %}

{% block body %}

    <div class="container px-5 my-5 col-lg-6 col-sm-12">
        {% include 'dashboard/business/offer/_form.html.twig' %}
    </div>

{% endblock %}

