{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<style>
@media screen and (min-width: 1200px) {
    .rule {
        padding-right: 100px;
        border-right: 1px dashed #046E8F;
    }
}
</style>

<div class="container mt-5 px-5">
    <div class="row">
        <div class="col-xl-4 rule">
            {# Photo de profil #}
            <picture>
                <img src="{{ asset("assets/img/pp_default.png") }}" alt="Photo de profil" class="img-fluid rounded mx-auto d-block">
            </picture>
            
            {# Résumé #}
        </div>
        <div class="col-xl-8">
                <h4>Prénom : {{userAccountDetails.firstName}}</h4>
                <h4>Nom : {{userAccountDetails.firstName}}</h4>
            {# Toutes les données #}
        </div>
    </div>
    <div class="content">
       
        <div class="row">
        <section class="col-6 mt-5">
        <h5>Mes demandes</h5>
        <div class="demands-list">
                <ul class="list-group">
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">AG2R | Informaticien CDI</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <label class="form-check-label" for="secondCheckbox">DARTY | Caissier</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
            <label class="form-check-label" for="thirdCheckbox">GSV | Ressources humaines</label>
        </li>
        </ul>
        </div>
        </section>
        <section class="col-6 mt-5">
        <h5>Mes documents</h5>
        <div class="demands-list">
                <ul class="list-group">
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">CV</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <label class="form-check-label" for="secondCheckbox">Lettre de motivation</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
            <label class="form-check-label" for="thirdCheckbox">Attestation TOEIC</label>
        </li>
        </ul>
        </div>
        </section>
        </div>
    </div>
</div>

{% endblock %}
